* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #f2f3f4;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 25rem; /*fallback*/
    width: min(25rem, 100vw);
    min-width: 220px;
    min-height: 20rem;
    border-radius: 24px;
    padding: 36px; /*fallback*/
    padding: 36px clamp(16px, calc(36px + (100% - 25rem) / 4), 36px);
    background: #fff;
    box-shadow: 0 6px 10px #0004;
}

.login-header {
    text-align: center;
    font-size: 2rem;
}

.login-input {
    border: 0;
    border-bottom: 1px solid #aaa;
    padding: 4px;
    font-size: 1.25rem;
}

.login-button {
    height: 3.5rem;
    border: 0;
    border-radius: 1.75rem;
    background: #4060ff;
    color: #fff;
    font-size: 1.35rem;
    font-weight: bold;
    box-shadow: 0 4px 8px #0004;
}